@import url('https://fonts.googleapis.com/css?family=Poiret+One');
body { 
background-color: #0d2446;
font-family: 'Poiret One', cursive;
}
h1 {
  font-size: 57px;
  color: white
}
p{
  font-size:25px;
 color: white 
}
img  {
  display: block;
}

    